{% include 'header.twig' %}
{% for article in articles.list %}

    <article>
        <header>
            {{ article.title }}<br/>
            {{ article.author }}
        </header>
        <figure>
            <img src="{{ article.urlToImage }}">
            <figcaption> {{ article.description }}</figcaption>
        </figure>
        <footer>
            <a href="{{ article.url }}" target="_blank">{{ article.source }}</a><br/>
            {{ article.publishedAt }}
    </article>
{% endfor %}

{% include 'footer.twig' %}